:root {
    --black: #222222;
    --white: #fafafa;
    --nd-img: 260px;
}
@keyframes start-big {
    0% {
        height: 50px;
        width: 50px;
    }
    80% {
        height: 290px;
        width: 290px
    }
    100% {
        height: 260px;
        width: 260px
    }
}

#first-page {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--black);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
#first-page > div {
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    font-size: 60px;
    font-weight: bolder;
}
#first-page > div > img {
    animation: start-big 1.4s ease-out;
    display: block;
    height: 260px;
    margin: 0 auto;
}
#second-page {
    position: absolute;
    left: 0;
    top: 100vh;
    background-color: var(--white);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
#second-page > div {
    margin: 0 auto;
    text-align: center;
    color: var(--black);
    font-size: 60px;
    font-weight: bolder;
}
#second-page > div > img {
    display: block;
    height: var(--nd-img);
    margin: 0 auto;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* #second-page:hover > div > img {
    height: 400px;
} */
.nd-page-text {
    margin: auto;
    background-image: linear-gradient(90deg, #263dc2 30%, #6d22cf);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent; 
}