:root {
    --bg-color: #eee;
    --light-bg-color: rgb(205, 205, 205);
    --main-color: #242424;
    --next-color: #333;
    --light-color: #213547;
    --opacity-color: rgba(255, 255, 255, 0.6);
    --opacity-bg-color: rgba(89, 89, 89, 0.6);
    --windowW:100px;
    --windowH:100px;
}
/*anmation*/
@keyframes computer{
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
}
@keyframes show-text{
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }
}
@keyframes slow-out {
    100% {
        opacity: 0;
    }
}
@keyframes slow-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes ball-down {
    25% {
      -webkit-transform: translateY(-5px);
    }
    50%, 100% {
      -webkit-transform: translateY(0);
    }
    75% {
      -webkit-transform: translateY(5px);
    }
}
/*stylecard*/
.style-card {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
#card-stylelight {
    z-index: 999999999999;
    display: none;
    margin-top: calc(50vh - 125px);
    margin-left: calc(50vw - 125px);
    border-radius: 23.5px;
    width: 250px;
    height: 250px;
    background-color: var(--opacity-color);
    backdrop-filter: blur(20px);
}
#card-stylenight {
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
    z-index: 999999999999;
    display: none;
    margin-top: calc(50vh - 125px);
    margin-left: calc(50vw - 125px);
    border-radius: 23.5px;
    width: 250px;
    height: 250px;
    background-color: var(--opacity-color);
    backdrop-filter: blur(20px);
}
#card-stylelight > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#card-stylenight > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.card-style-main {
    margin: 0 auto;
}
.card-style-icon > i {
    color: var(--next-color);
    font-size: 100px;
}
.text-card-style {
    font-size: 27px;
    width: 62px;
    margin: auto;
    color: var(--next-color);
}
/*-mobile-*/
#mobile-button {
    position: fixed;
    right: 3vw;
    bottom: 10vh;
    display: none;
}
#mobile-toggle-button {
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
    font-size: 50px;
    height: 90px;
    width: 90px;
    border: 2px solid #6759ff;
    border-radius: 20px;
    background-color: var(--opacity-bg-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: var(--next-color);
}
/*body*/
body{
    background-color: var(--bg-color);
}
#home-main{
    position: fixed;
    top: 30%;
    left: 3%;
}
.home-text{
    font-weight: 549;
    font-size: 6vw;
}
.tx-big {
    color: var(--next-color);
}
.home-button{
    font-size: 4vw;
    text-decoration: none;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: .5%;
    padding-bottom: 1.8%;
    border-radius: 20vh;
}
/*top*/
.top {
    z-index: 999;
    font-size: 16px;
    position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--opacity-color);
    box-shadow: 0px 3px 20px rgba(53, 56, 65, 0.137);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
#toggle-button{
    height: 20px;
    width: 22px;
    font-size: 12px;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    color: var(--main-color);
    background-color: var(--bg-color);
    cursor: pointer;
}
#toggle-button:hover{
    transition: all .2s ease;
    background-color: var(--light-bg-color);
}
.top > .group{
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 1%;
    float: right;
}

.top > .group > .name,
.top > a > .lgroup > .name,
.top > .group > .name > a{   
    text-decoration: none;
    color: var(--light-color);
}
.top > .group > .name > a:hover{
    color: var(--main-color);
}
.top > a > .lgroup > .name{
    font-weight: bold;
}
.lgroup > img{
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.3vh;
    height: 29px;
    width: 29px;  
}
.lgroup{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 3%;
    float: left; 
}
.home-imgs {
    margin-top: 50px;
    float: right;
}
.home-tit {
    color: var(--main-color);
    font-size: 4vw;
    float: right;
    margin-top: -3%;
    margin-right: 8%;
}
.Sample {
    animation: computer 1s ease;
    width: 40%;
    margin-top: 18vh;
    margin-left: 60%;
}
.home-tit.introduce {
    margin: auto;
    margin-right: 5%;
}
@media screen and (max-width: 1284px) and (min-height: 760px){
    .Sample{
        margin-left: 0%;
        width: 100%;
    }
    .home-imgs {
        text-align: center;
    }
    .home-tit {
        display: none;
    }
    .home-text {
        margin-top: -10%;
    }
    #home-main{
        text-align: center;
        top: 70%;
        left: 3%;
    }
    .home-other {
        margin-left: 0;
        width: 100% !important;
        font-size: 34px !important;
    }
    .home-text{
        font-size: 11vw;
    }
    .home-button{
        
        font-size: 9vw;
    }
    .top {
        font-size: 34px;
    }
    .lgroup > img{
        display: inline-block;
        vertical-align: middle;
        margin-top: -0.3vh;
        height: 50px;
        width: 50px;  
    }
    #toggle-style {
        display: none;
    }
    #card-stylelight {
        margin-top: calc(50vh - 250px);
        margin-left: calc(50vw - 250px);
        border-radius: 47px;
        width: 500px;
        height: 500px;
    }
    #card-stylenight {
        margin-top: calc(50vh - 250px);
        margin-left: calc(50vw - 250px);
        border-radius: 47px;
        width: 500px;
        height: 500px;
    }
    .card-style-icon > i {
        color: var(--next-color);
        font-size: 300px;
    }
    #mobile-button {
        display: block;
    }
}

/*-download-*/

#workspace-div {
    animation: computer 1s ease-in-out;
    margin-top: 27vh;
    margin-left: 640px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#circle-org{
    width:250px;
    height:250px;
    min-height: 250px;
    min-width: 250px;
    
    border-radius: 999px;
    margin-top: -200px;
    margin-right: -130px;
    background: linear-gradient(135deg,#ffb566,#ff6677);
    z-index: 0;
    
    animation: ball-down 5s linear infinite;
}

#circle-blue{
    width: 145px;
    height: 145px;
    min-height: 145px;
    min-width: 145px;
    border-radius: 999px;
    margin-top: 265px;
    margin-left: -30px;
    background: linear-gradient(135deg,#de82ca,#259fac);
    z-index: 0;
    
    animation: ball-down 8s linear infinite;
}
#subject-div{
    width: 565px;
    height:320px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}
#subject-div > img{
    width:565px;
    height:320px;
    min-height: 320px;
    min-width: 565px;
    border-radius: 5px;
    box-shadow: 0 6px 15px 0 #21212182; 
}
#main-tit{
    position: fixed;
    top: 100px;
    left: 7vw;
}

@media screen and (max-width: 1284px) and (min-height: 760px){
    #workspace-div{
        margin: 0 auto;
        margin-top: 50vh;
    }
    #Big-tit {
        font-size: 58px !important;
    }
    #nd-tit {
        font-size: 68px !important;
    }
    #rd-tit {
        font-size: 34px !important;
    }
    #download{
        font-size: 39px !important;
    }
    #find-help {
        font-size: 22px !important;
    }
}